<%= render 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t(:settings, scope: :klarna) %></h1>

<table>
  <tr>
    <th scope="row"><%= Spree.t(:active, scope: :klarna) %>:</th>
    <td><%= Spree::Unifaun::Config[:klarna] %></td>
  </tr>
</table>

<p>
  <%= link_to_with_icon('edit', Spree.t(:edit), edit_admin_klarna_settings_path) %>
</p>
